* {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color:  #f9faf8;
    text-decoration: none;
}

#grandparent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1f2937;
    border: 1px solid salmon;
}


#parent-1 {
    flex: 3 1 0;
    display: flex;
    border: 1px solid #fff;
}

.navbar {
    margin-inline: 4rem;
    margin-top: 2px;
    padding: 1px;
    display: flex;
    flex: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.header-logo {
    flex: 3 1 0;
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    /* border: 1px solid salmon; */
}

.header-link {
    flex: 1 1 0;
    font-size: 18px;
    align-self: center;
    justify-content: space-evenly;
    color: #f9faf8;
    /* border: 1px solid salmon; */
}

.content-navbar {
    margin-inline: 4rem;
    margin-top: 4rem;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    /* border: 3px solid rgb(158, 147, 146); */
}

.left-side-nav {
    font-size: 48px;
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* gap: 10px; */
    text-align: left;
    /* border: 1px solid salmon; */
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    height: 2rem;
    width: 6rem;

    border: 1px solid rgb(151, 175, 231);
}

.content.navbar.image {
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: rgb(113, 124, 137);
    width: 600px;
    height: 300px;
    /* border: 1px solid #f0f; */
}

.placeholder {
    flex: 1 1 1;
    background-color: rgb(113, 124, 137);
    align-self: center;
    justify-content: center;
}

#parent-2 {
    display: flex;
    flex: 3 1 0;
    border: 1px solid;
    background: #f9faf8;
}

.p2-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f9faf8;
    height: 600px;
}
.p2-header {
    background-color: #f9faf8;
    justify-items: center;
    align-items: center;
}
.p2-h {
    font-weight: bold;
    background-color: #f9faf8;
    color: #1f2937;
}
.p2-image-containers {
    display: flex;
    background-color: #f9faf8;
}
.p2-image-containers div{
    flex: 1 1 0;
    background-color: #3882f6;
    height: 10vh;
    border: 1px solid #3882f6;
}

#parent-3 {
    display: flex;
    flex: 3 1 0;
    border: 1px solid;
    background: #e5e7eb;
}
.p3-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f9faf8;
    height: 600px;
}
#parent-4 {
    display: flex;
    flex: 3 1 0;
    border: 1px solid;
    background: #f9faf8;
}
.p4-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f9faf8;
    height: 600px;
}

#parent-5 {
    flex: 1 1 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid seagreen;
}
.p5-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
}
