* {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
    color:  #f9faf8;
    text-decoration: none;
}


/* .content {
    margin: 2px;
    border-radius: 10px;
    border: 1px solid #fff;
} */

.navbar {
    margin-inline: 4rem;
    margin-top: 2px;
    padding: 1px;
    display: flex;
    flex: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.header-logo {
    flex: 3 1 0;
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    /* border: 1px solid salmon; */
}

.header-link {
    flex: 1 1 0;
    font-size: 18px;
    align-self: center;
    justify-content: space-evenly;
    color: #f9faf8;

    /* border: 1px solid salmon; */
}

.content-navbar {
    margin-inline: 4rem;
    margin-top: 4rem;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* border: 3px solid rgb(158, 147, 146); */
    
}

.left-side-nav {
    font-size: 48px;
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    text-align: left;
    /* border: 1px solid salmon; */
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}


button {
    background-color: #3882f6;
    border-radius: 8px;
    height: 2rem;
    width: 6rem;

    border: 1px solid rgb(151, 175, 231);
}

.content.navbar.image {
    flex: 1 1 0;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background: rgb(113, 124, 137);
    width: 600px;
    height: 300px;
    /* border: 1px solid #f0f; */
}
.placeholder {
    flex: 1 1 1;
    background-color: rgb(113, 124, 137);
    align-self: center;
    justify-content: center;
}

/* .some-random-information {
    display: flex;
    margin-inline: 4rem;
    margin-top: 4rem;
    padding: 1px;
    background: #f9faf8;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid salmon;
}

.some-random-information div {
    flex: 1 1 0;
    height: auto;
    background-color: #f9faf8;
    border: 2px solid saddlebrown;    
} */


/* dark background color (hero and footer)
#1F2937;

hero main text ("this website is awesome")
48px extra-bold #f9faf8

hero secondary text, header link text 
18px #e5e7eb

header logo text
24px #f9faf8

button color, call to action background color
#3882f6 

information header text
36px extra-bold #1f2937

quote section background color
#e5e7eb

quote text 
36px light italic #1f2937 */