* {
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color:  #f9faf8;
    text-decoration: none;
}

#grandparent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1f2937;
}

#parent-1 {
    flex: 3 1 0;
    display: flex;
    /* border: 1px solid #fff; */
}
.p1-content {
    padding-bottom: 14vh;
}
.navbar {
    margin-inline: 4rem;
    margin-top: 2px;
    padding: 1px;
    display: flex;
    flex: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.header-logo {
    flex: 3 1 0;
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    /* border: 1px solid salmon; */
}
.header-link {
    flex: 1 1 0;
    font-size: 18px;
    align-self: center;
    justify-content: space-evenly;
    color: #f9faf8;
    /* border: 1px solid salmon; */
}
.content-navbar {
    margin-inline: 4rem;
    margin-top: 4rem;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    /* border: 3px solid rgb(158, 147, 146); */
}
.left-side-nav {
    font-size: 48px;
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /* gap: 10px; */
    text-align: left;
    /* border: 1px solid salmon; */
}
.sub-text {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}
button {
    background-color: #3882f6;
    border-radius: 10px;
    height: 2rem;
    width: 6rem;

    border: 1px solid #3882f0;
}
.content.navbar.image {
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: rgb(113, 124, 137);
    width: 600px;
    height: 300px;
    /* border: 1px solid #f0f; */
}
.placeholder {
    flex: 1 1 1;
    background-color: rgb(113, 124, 137);
    align-self: center;
    justify-content: center;
}

#parent-2 {
    flex: 3 1 0;
    display: flex;
    border: 1px solid;
    background-color: #f9faf8; 
}
.p2-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 0;
    background-color: #f9faf8;
    
}
.p2-header {
    display: flex;
    flex: 1 1 0;
    background-color: #f9faf8;
    justify-self: center;
    align-self: center;
}
.p2-h {
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    background-color: #f9faf8;
    color: #1f2937;
    text-align: left;
}
.p2-img-containers {
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    background-color: #f9faf8;
    align-items: center;
    justify-content: center;
}
.p2-img {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    background: #f9faf8;
    height: 400px;
    justify-items: center;
    gap: 2vh;
    padding-bottom: 14vh;
    margin-bottom: 10vh;
    margin-inline: 4rem;
    margin-top: 2px;
}
.p2-sub {
    flex: 1 1 0;
    padding-top: 42vh;
    padding-bottom: 12vh;
    background-color: #f9faf8;
    color: #1f2937;
    border-radius: 10px;
    height: 12vh;
    border: 6px solid #3882f0;
    text-align:center;
}
.p2-sub-image {
    color: #1f2937;
    background-color: #f9faf8;
    height: 200px;
    width: 300px;
}
.p2-cap {
    color: #1f2937;
    background-color: #f9faf8;
    font-size: small;
}

#parent-3 {
    padding: 20vh;
    flex: 1 1 0;
    display: flex;
    background: #e5e7eb;
}
.p3-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #e5e7eb;
    height:auto;
}
.p3-cite {
    flex: 1 1 0;
    display: flex;
    background-color: #e5e7eb;
}
.p3-fig {
    flex: 1 1 0;
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: bolder;
}

.p3-p {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: x-large;
    font-weight: 100;
}
.p3-figc {
    background-color: #e5e7eb;
    color: #1f2937;
    font-weight: bolder;
    text-align: right;
}
#parent-4 {
    display: flex;
    flex: 3 1 0;
    /* border: 1px solid; */
    background: #f9faf8;
}
.p4-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f9faf8;
    height: 600px;
}

#parent-5 {
    flex: 1 1 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid seagreen; */
}
.p5-content {
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #1f2937;
    height: 100px;
}
